h1 {
	font-family: arial;
	text-align:left;
	margin-bottom: 30px;
	font-weight: 200;
	font-size: 100%;
	text-decoration: underline;
}

h2 {
	font-family: arial;
	text-align:left;
	margin-top: 50px;
	font-weight: 200;
	font-size: 100%;
}

body {
	font-family: arial;
	text-align:left;
	margin-top: 50px;
	font-weight: 200;
	font-size: 90%;
	margin-bottom: 130px;
	line-height: 25px;
}

pre {
	font-family: arial;
	text-align:left;
	font-weight: 100;
	font-size: 90%;
	line-height: 30px;
	margin-bottom: 130px;
	margin-top: 50px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover:not(#logo) {
	color: #444444;

}

.container {
	margin-top:100px;
	margin-left: 10%;
	margin-bottom:10%;
	width: 600px;
}